# --- Unity 임시 파일 및 폴더 ---
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[MemoryCaptures]/
/[UserSettings]/

# --- 에셋 스토어 및 패키지 관련 ---
/[Aa]ssets/AssetStoreTools*

# --- IDE 관련 (Visual Studio, Rider 등) ---
.vs/
.gradle/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj

# --- OS 생성 파일 ---
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# --- 빌드 결과물 ---
*.apk
*.unitypackage